<div class="h-screen fixed left-0 top-16 bg-white border-r border-gray-200 overflow-hidden"
     (mouseenter)="onHoverMenuEnter()"
     (mouseleave)="onHoverMenuLeave()"
     [@sidebarAnimation]="isExpandedSidebar ? 'expanded' : 'collapsed'">
  <nav class="p-2">
    <ul class="space-y-1">
      <li *ngFor="let menu of listMenus">
        <a [class.bg-blue-50]="menu.isSelected"
           class="flex items-center px-2 py-3 rounded-lg hover:bg-blue-50 cursor-pointer transition-colors duration-200"
           (click)="onClickMenu(menu.id)">
          <mat-icon [class.text-blue-600]="menu.isSelected" class="text-gray-600">{{menu.icon}}</mat-icon>
          <span [@contentAnimation]="isExpandedSidebar ? 'expanded' : 'collapsed'"
                class="ml-3 text-sm font-medium text-gray-700"
                [class.text-blue-600]="menu.isSelected">
            {{menu.name}}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
